@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200;300;400;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --black: #1b2730;
  --white: #ffffff;
  --grey: #b8bdc0;
  --pink: #ff50b9;
  --purple: #a56eff;
  --blue: #2ad3fe;
  --horizontal-padding: 5rem;
  --siders-width: 4rem;
  --mono-font: "Fira Code", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: var(--black);
  color: var(--white);
}

.page {
  position: relative;
  padding: 4rem var(--horizontal-padding);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-family: var(--mono-font);
}

.navbar ol {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5em;
}

.navbar li {
  counter-increment: item;
}

.navbar li a::before {
  color: var(--blue);
  content: "0" counter(item) ".";
  margin-right: 0.4em;
}

.navbar a,
.contact a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover,
.contact a:hover {
  color: var(--pink);
  transition: color 0.2s ease-in-out;
}

.social,
.contact {
  position: fixed;
  bottom: 0;
  width: var(--siders-width);
  padding: 1rem 0 0;
}

.social {
  left: var(--horizontal-padding);
}

.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  list-style: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: var(--horizontal-padding);
}

.email {
  font-family: var(--mono-font);
  font-weight: 200;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1.5em;
}

.social-icon {
  fill: var(--white);
}

.social li:hover .social-icon,
.email:hover {
  fill: var(--pink);
  /* filter: drop-shadow(0 0 11px rgb(255 255 255 / 0.4)); */
  transform: translateY(-0.3rem);
  transition: all 0.3s ease-in-out;
}

.social-github {
  width: 2.4rem;
  height: 2.4rem;
}

.social-linkedin {
  width: 1.8rem;
  height: 1.8rem;
}

.social ul::after,
.contact::after {
  content: "";
  width: 0.07rem;
  height: 150px;
  background-color: var(--white);
}

.content {
  padding: 0 calc(6rem + var(--siders-width));
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.sub-heading {
  font-size: 1.8rem;
  font-family: var(--mono-font);
  margin-bottom: 2rem;
  color: var(--blue);
  /* padding: 5vh; */
}

.heading,
.heading-caption {
  font-size: 6.4rem;
  font-weight: 700;
}

.heading {
  margin-bottom: 0;
}

.heading-caption {
  color: var(--purple);
  margin-bottom: 3rem;
}

.heading-text {
  margin-bottom: 4rem;
}

.default-text {
  font-size: 1.7rem;
  color: var(--grey);
  line-height: 1.5;
}

.mono-text {
  font-size: 1.7rem;
  font-family: var(--mono-font);
  color: var(--grey);
  line-height: 1.5;
}

.hero .default-text {
  max-width: 60rem;
}

.blue-text {
  color: var(--blue);
}

.pink-text {
  color: var(--pink);
}

.purple-text {
  color: var(--purple);
}

.grey-color {
  color: var(--grey);
}

.btn {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: var(--mono-font);
  cursor: pointer;
  background: none;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: var(--purple);
  color: var(--purple);
}

.btn svg {
  stroke: var(--purple);
  margin-right: 0.5em;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  border-color: var(--pink);
  color: var(--pink);
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition: all 0.2s ease-in-out;
}

.btn:hover svg {
  stroke: var(--pink);
}

.btn-resume {
  font-size: 1.4rem;
  padding: 0.5em 1em;
}

.about {
  margin-bottom: 12rem;
}

.section {
  counter-increment: section-item;
}

.section-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.6rem;
  gap: 0.5em;
  margin-bottom: 3rem;
}

.section-title::before {
  font-size: 0.8em;
  font-weight: 400;
  font-family: var(--mono-font);
  color: var(--blue);
  content: "0" counter(section-item) ".";
}

.section-title::after {
  content: "";
  width: 12em;
  height: 0.08rem;
  background-color: var(--grey);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 6rem;
}

.timeline::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 6rem;
  bottom: 7.5rem;
  left: calc(50% - 0.04rem);
  width: 0.08rem;
  background-color: var(--white);
}

.checkpoint {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkpoint-text {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.checkpoint-image img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
}

.checkpoint-date,
.checkpoint-title {
  font-size: 1.8rem;
  font-family: var(--mono-font);
}

.checkpoint-date {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--blue);
}

.checkpoint-date svg {
  fill: var(--blue);
}

.checkpoint-date.pink {
  color: var(--pink);
}

.checkpoint-date.pink svg {
  fill: var(--pink);
}

.checkpoint-date.purple {
  color: var(--purple);
}

.checkpoint-date.purple svg {
  fill: none;
  stroke: var(--purple);
}

.checkpoint-title {
  font-weight: 600;
}

.checkpoint-description {
  width: 85%;
}

.checkpoint-text.left {
  align-items: flex-end;
  text-align: right;
  padding-right: 1.5rem;
  margin-right: 6rem;
}

.checkpoint-text.right {
  align-items: flex-start;
  text-align: left;
  padding-left: 1.5rem;
  margin-left: 6rem;
}

.checkpoint-image.right {
  text-align: left;
  margin-left: -6rem;
}

.checkpoint-image.left {
  text-align: right;
  margin-right: -6rem;
}

.hire {
  text-align: center;
}

.hire-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--mono-font);
  color: var(--blue);
  margin-bottom: 3rem;
}

.hire-title::before,
.hire-title::after {
  content: "";
  width: 100%;
  max-width: 4em;
  height: 0.08rem;
  background-color: var(--grey);
}

.hire-heading {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.hire-content {
  margin-bottom: 3rem;
}

.hire-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
  gap: 1em;
}

.work {
  margin-bottom: 12rem;
}

.project {
  margin-bottom: 5rem;
}

.work .section-title {
  margin-bottom: 5rem;
}

.work .tag {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.work h2 {
  margin-bottom: 2rem;
}

.work .default-text {
  max-width: 60rem;
  margin-bottom: 2rem;
}

.work ul {
  font-size: 1.3rem;
  display: flex;
  list-style: none;
  gap: 2em;
}
