@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200;300;400;600;700&family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* New Color Palette */
/* Color Palette */
/* Spacing */
/* Typography */
.text-blue {
  color: #91a8ec;
}

.text-pink {
  color: #ff91e8;
}

.text-purple {
  color: #a56eff;
}

.text-grey {
  color: #52514e;
}

.text-white {
  color: #fff !important;
}

.text-bold {
  font-weight: 700;
}

.bg-green {
  background-color: #3feb81;
}

.bg-dark-green {
  background-color: #21a094;
}

.bg-pink {
  background-color: #ff91e8;
}

.bg-dark-pink {
  background-color: #ea4c89;
}

.bg-blue {
  background-color: #91a8ec;
}

.bg-yellow {
  background-color: #f7cb46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
@media (max-width: 599.999999px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.4rem;
  background-color: #f9f5f2;
  color: #1b2730;
}

a {
  all: unset;
  cursor: pointer;
}

svg {
  fill: #52514e;
}

.page {
  overflow: hidden;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (min-width: 1200px) {
  .page {
    padding: 0 6rem;
  }
}

.text-reading {
  font-family: "Inter", sans-serif;
  line-height: 1.75;
  font-size: 1.6rem;
  color: #52514e;
}

.text-caption {
  font-size: 1.7rem;
  font-family: "Fira Code", sans-serif;
  color: #52514e;
  line-height: 1.5;
}

.btn {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.75rem;
  border: 1px solid #1b2730;
  border-radius: 3px;
  box-shadow: 4px 4px 0 #1b2730, 3px 3px 0 #1b2730, 2px 2px 0 #1b2730, 1px 1px 0 #1b2730;
  font-size: 1.5rem;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.btn svg {
  fill: #1b2730;
  max-width: 2rem;
  height: 1.75rem;
  stroke: #1b2730;
  margin-right: 0.5em;
  transition: stroke 0.2s ease-in-out;
}

.btn-resume {
  font-size: 1.4rem;
  padding: 0.5em 1em;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding: 3rem 2rem;
  background-color: rgba(249, 245, 242, 0.8);
}
@media (min-width: 1200px) {
  .navbar {
    padding: 3rem 7rem;
  }
}
.navbar h2 {
  font-size: 3.6rem;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  color: #f7cb46;
  text-shadow: -1px 0 #1b2730, 0 1px #1b2730, 1px 0 #1b2730, 0 -1px #1b2730, 4px 4px 0 #1b2730, 3px 3px 0 #1b2730, 2px 2px 0 #1b2730, 1px 1px 0 #1b2730;
}
.navbar ul {
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}
.navbar .navbar-btn {
  font-family: "Lexend", sans-serif;
  font-size: 1.4rem;
  color: #1b2730;
  padding: 1rem 2rem;
  border: 1px solid #1b2730;
  box-shadow: 4px 4px 0 #1b2730, 3px 3px 0 #1b2730, 2px 2px 0 #1b2730, 1px 1px 0 #1b2730;
  font-weight: 700;
  border-radius: 2px;
}

.sider {
  position: fixed;
  bottom: 0;
  width: 4rem;
  padding: 1rem 0 0;
}
@media (max-width: 599.999999px) {
  .sider {
    display: none;
  }
}
.sider::after,
.sider ul::after {
  content: "";
  width: 0.07rem;
  height: 150px;
  background-color: #ffffff;
}

@media (min-width: 600px) {
  .social {
    left: 2rem;
  }
}
@media (min-width: 1200px) {
  .social {
    left: 6rem;
  }
}
.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  list-style: none;
}
.social li:hover svg {
  transition: transform 0.3s ease-in-out;
}
.social li:hover svg:hover {
  transform: translateY(-0.3rem);
}
.social .social-github {
  width: 2.4rem;
  height: 2.4rem;
}
.social .social-linkedin {
  width: 1.8rem;
  height: 1.8rem;
}

@media (min-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2rem;
  }
}
@media (min-width: 1200px) {
  .contact {
    right: 6rem;
  }
}
.contact .email {
  cursor: pointer;
  color: #282826;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transition: transform 0.3s ease-in-out;
  font-family: "Fira Code", sans-serif;
  font-weight: 200;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1.5em;
}
.contact .email svg {
  transition: fill 0.3s ease-in-out;
}
.contact .email:hover {
  color: #ff6600;
}
.contact .email:hover svg {
  fill: #f7cb46;
}
.contact .email:hover {
  transform: translateY(-0.3rem);
}

.content {
  padding: 0 2.5rem;
}
@media (min-width: 600px) {
  .content {
    padding: 0 2.5rem;
  }
}
@media (min-width: 1200px) {
  .content {
    padding: 0 8rem;
  }
}
@media (max-width: 350px) {
  .content {
    padding: 0 2rem;
  }
}

.hero {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lexend", sans-serif;
  color: #282826;
}
@media (min-width: 1200px) {
  .hero {
    padding-left: 8rem;
  }
}
.hero .hero-sub {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.hero .hero-heading {
  font-size: clamp(3.65rem, 6vw, 6.4rem);
  font-weight: 700;
  margin-bottom: 3rem;
}
.hero .hero-text {
  max-width: 60rem;
  margin-bottom: 5rem;
}
.hero .btn-action svg {
  fill: none;
}

.window {
  border: 1px solid #1b2730;
  border-radius: 5px;
  background-color: white;
}

.window-controls {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.25em;
  padding: 0.5em;
  background-color: #e1dfe1;
  border-bottom: 1px solid #1b2730;
}

.window-controls-btn {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

#work {
  min-height: 100vh;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
}
#work.active {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

#hire {
  min-height: 100vh;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
}
#hire.active {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.section {
  padding: 10rem 0;
  counter-increment: section-item;
}
.section .section-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.6rem;
  gap: 0.5em;
  margin-bottom: 3rem;
}
.section .section-title::before {
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Fira Code", sans-serif;
  color: #2ad3fe;
  content: "0" counter(section-item) ".";
}
.section .section-title::after {
  content: "";
  width: min(100%, 12em);
  height: 0.08rem;
  background-color: #52514e;
}
.section .section-description {
  margin-bottom: 3.5rem;
}
.section .section-content {
  padding-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.projects-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -150, 0, 0, 1);
  align-items: center;
  gap: 4rem;
}
@media (min-width: 900px) {
  .project {
    grid-template-columns: 1fr 1fr;
  }
}
.project.active {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.project .project-image {
  overflow: hidden;
}
.project .project-image img {
  max-width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  transition: opacity 0.3s ease-in-out;
}
.project .project-image img:hover {
  cursor: pointer;
}
.project .project-title {
  font-family: "Lexend", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.project .project-description {
  margin-bottom: 2rem;
}
.project .project-features {
  font-size: 1.3rem;
  font-family: "Fira Code", sans-serif;
  color: #52514e;
  margin-bottom: 2rem;
}
.project .project-features ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 0.5em;
}
.project .project-links {
  font-size: 1.3rem;
  font-family: "Lexend", sans-serif;
}
.project .project-links .btn-demo {
  color: #1b2730;
}
.project .project-links .btn-code {
  color: #1b2730;
  background-color: #b8bdc0;
}
.project .project-links ul {
  display: flex;
  gap: 2em;
  list-style: none;
}
@media (min-width: 900px) {
  .project {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    row-gap: 5rem;
  }
  .project .left {
    text-align: right;
  }
  .project .left ul {
    justify-content: flex-end;
  }
  .project .right {
    order: 2;
    text-align: left;
  }
  .project .right ul {
    justify-content: flex-start;
  }
}

.hire {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hire .hire-heading {
  font-family: "Lexend", sans-serif;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-size: clamp(3.2rem, 6vw, 5.6rem);
  font-weight: 700;
  margin-bottom: 3rem;
}
.hire .hire-content {
  margin-bottom: 3rem;
}
.hire .hire-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
  gap: 1em;
}
@media (max-width: 599.999999px) {
  .hire .hire-buttons {
    flex-direction: column;
  }
}

.footer {
  font-size: 1.3rem;
  font-family: "Fira Code", sans-serif;
  color: #52514e;
  text-align: center;
  line-height: 1.75;
}
.footer a {
  color: #52514e;
}/*# sourceMappingURL=main.css.map */