@use "variables" as *;
@use "mixins" as *;
@use "utilities";

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200;300;400;600;700&family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $sansFontFamily;
  scroll-behavior: smooth;

  @include for-phone-only {
    font-size: 50%;
  }
}

body {
  font-size: $defaultFontSize;
  background-color: $backgroundColor;
  color: $black;
}

a {
  all: unset;
  cursor: pointer;
}

svg {
  fill: $bodyTextColor;
}

.page {
  overflow: hidden;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 $mobileHorizontalPadding;

  @include for-desktop-up {
    padding: 0 $desktopHorizontalPadding;
  }
}

.text-reading {
  font-family: $sansFontFamily;
  line-height: 1.75;
  font-size: 1.6rem;
  color: $bodyTextColor;
}

.text-caption {
  font-size: 1.7rem;
  font-family: $monoFontFamily;
  color: $bodyTextColor;
  line-height: 1.5;
}

.btn {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.75rem;

  border: 1px solid $black;
  border-radius: 3px;
  box-shadow: 4px 4px 0 $black, 3px 3px 0 $black, 2px 2px 0 $black,
    1px 1px 0 $black;

  font-size: 1.5rem;
  cursor: pointer;

  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;

  svg {
    fill: $black;
    max-width: 2rem;
    height: 1.75rem;
    stroke: $black;
    margin-right: 0.5em;
    transition: stroke 0.2s ease-in-out;
  }
}

.btn-resume {
  font-size: 1.4rem;
  padding: 0.5em 1em;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: $sansFontFamily;
  padding: $mobileVerticalPadding calc($mobileHorizontalPadding);
  background-color: rgba($backgroundColor, 0.8);

  @include for-desktop-up {
    padding: $desktopVerticalPadding calc($desktopHorizontalPadding + 1rem);
  }

  h2 {
    font-size: 3.6rem;
    font-family: $lexendFontFamily;
    font-weight: 800;
    @include text-shadow-effect($actionColor, $black);
  }

  ul {
    width: max-content;
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .navbar-btn {
    font-family: $lexendFontFamily;
    font-size: 1.4rem;
    color: $black;
    padding: 1rem 2rem;
    border: 1px solid $black;
    box-shadow: 4px 4px 0 $black, 3px 3px 0 $black, 2px 2px 0 $black,
      1px 1px 0 $black;
    font-weight: 700;
    border-radius: 2px;
  }
}

.sider {
  @include for-phone-only() {
    display: none;
  }

  position: fixed;
  bottom: 0;
  width: $sidersWidth;
  padding: 1rem 0 0;

  &::after,
  ul::after {
    content: "";
    width: 0.07rem;
    height: 150px;
    background-color: $white;
  }
}

.social {
  @include for-tablet-portrait-up {
    left: $mobileHorizontalPadding;
  }

  @include for-desktop-up {
    left: $desktopHorizontalPadding;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    list-style: none;
  }

  li:hover svg {
    @include translate-up-effect;
  }

  .social-github {
    width: 2.4rem;
    height: 2.4rem;
  }

  .social-linkedin {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.contact {
  @include for-tablet-portrait-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: $mobileHorizontalPadding;
  }

  @include for-desktop-up {
    right: $desktopHorizontalPadding;
  }

  .email {
    @include link-styles;
    @include translate-up-effect;

    font-family: $monoFontFamily;
    font-weight: 200;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-bottom: 1.5em;
  }
}

.content {
  padding: 0 calc($mobileHorizontalPadding + 0.5rem);

  @include for-tablet-portrait-up {
    padding: 0 calc($mobileHorizontalPadding + 0.5rem);
  }

  @include for-desktop-up {
    padding: 0 calc($desktopHorizontalPadding + 2rem);
  }

  @media (max-width: 350px) {
    padding: 0 $mobileHorizontalPadding;
  }
}

.hero {
  min-height: calc(100vh - 180px);
  @include for-desktop-up {
    padding-left: 8rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: $lexendFontFamily;
  color: $headerTextColor;

  .hero-sub {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .hero-heading {
    font-size: clamp(3.65rem, 6vw, 6.4rem);
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .hero-text {
    max-width: 60rem;
    margin-bottom: 5rem;
  }

  .btn-action svg {
    fill: none;
  }
}

.window {
  border: 1px solid $black;
  border-radius: 5px;
  background-color: white;
}

.window-controls {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.25em;

  padding: 0.5em;
  background-color: #e1dfe1;
  border-bottom: 1px solid $black;
}

.window-controls-btn {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

#work {
  @include page-section();
  @include fade-in-effect($x: -100);
}

#hire {
  @include page-section();
  @include fade-in-effect($y: 100);
}

.section {
  padding: 10rem 0;

  counter-increment: section-item;

  .section-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2.6rem;
    gap: 0.5em;
    margin-bottom: 3rem;

    &::before {
      font-size: 0.8em;
      font-weight: 400;
      font-family: $monoFontFamily;
      color: $blue;
      content: "0" counter(section-item) ".";
    }

    &::after {
      content: "";
      width: min(100%, 12em);
      height: 0.08rem;
      background-color: $bodyTextColor;
    }
  }

  .section-description {
    margin-bottom: 3.5rem;
  }

  .section-content {
    padding-top: 5rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.projects-grid {
  @include responsive-grid-container;
  gap: 10rem;
}

.project {
  @include responsive-grid;
  @include fade-in-effect($x: -150);
  align-items: center;
  gap: 4rem;

  .project-image {
    overflow: hidden;

    img {
      max-width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      vertical-align: middle;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .project-title {
    font-family: $lexendFontFamily;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .project-description {
    margin-bottom: 2rem;
  }

  .project-features {
    font-size: 1.3rem;
    font-family: $monoFontFamily;
    color: $bodyTextColor;
    margin-bottom: 2rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      column-gap: 2em;
      row-gap: 0.5em;
    }
  }

  .project-links {
    font-size: 1.3rem;
    font-family: $lexendFontFamily;

    .btn-demo {
      color: $black;
    }

    .btn-code {
      color: $black;
      background-color: $grey;
    }

    ul {
      display: flex;
      gap: 2em;
      list-style: none;
    }
  }

  @include for-tablet-landscape-up {
    column-gap: 6rem;
    row-gap: 5rem;

    .left {
      text-align: right;

      ul {
        justify-content: flex-end;
      }
    }

    .right {
      order: 2;
      text-align: left;

      ul {
        justify-content: flex-start;
      }
    }
  }
}

.hire {
  @include page-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .hire-heading {
    // @include text-shadow-effect($yellow, $black);

    font-family: $lexendFontFamily;
    letter-spacing: -4px;
    text-transform: uppercase;
    font-size: clamp(3.2rem, 6vw, 5.6rem);
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .hire-content {
    margin-bottom: 3rem;
  }

  .hire-buttons {
    @include for-phone-only {
      flex-direction: column;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 3rem;
    gap: 1em;
  }
}

.footer {
  font-size: 1.3rem;
  font-family: $monoFontFamily;
  color: $bodyTextColor;
  text-align: center;
  line-height: 1.75;

  a {
    color: $bodyTextColor;
  }
}
