/* New Color Palette */
$yellow: #f7cb46;
$lightBlue: #91a8ec;
$lightGreen: #3feb81;
$darkGreen: #21a094;
$lightPink: #ff91e8;
$darkPink: #ea4c89;
$habboOrange: #ff6600;
$habboYellow: #ffce00;

$backgroundColor: #f9f5f2; // light yellow
$headerTextColor: #282826; // black-gray
$bodyTextColor: #52514e;
$actionColor: $yellow;

/* Color Palette */
$black: #1b2730;
$white: #ffffff;
$grey: #b8bdc0;
$pink: #ff50b9;
$purple: #a56eff;
$blue: #2ad3fe;

/* Spacing */
$desktopVerticalPadding: 3rem;
$desktopHorizontalPadding: 6rem;

$mobileVerticalPadding: 3rem;
$mobileHorizontalPadding: 2rem;

$sidersWidth: 4rem;

$sectionSpacing: 12rem;

/* Typography */
$lexendFontFamily: "Lexend", sans-serif;
$sansFontFamily: "Inter", sans-serif;
$defaultFontSize: 1.4rem;
$monoFontFamily: "Fira Code", sans-serif;
